.r-card {
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin: auto;
    transition: all 300ms ease-in;
    position: relative;
    z-index: 0;
    box-shadow:0px 0px  15px  rgba(14 52 54 / 15%);

  }
  .r-card>svg{
    right: 30px;
    top: 25px;
    position: absolute;
    z-index: 1;
    /* filter: brightness(0.5)  hue-rotate(140deg) saturate(6); */

      /* filter: brightness(0.2) sepia(1) hue-rotate(140deg) saturate(6); */

    color:rgba(255,255,255, 0.77);

    /* border: 1px solid white; */


  }
  
  .r-card > img {
    width: 15rem;
    height: 10rem;
    max-width: 15rem;
    border-radius: 8px;
    box-shadow:2px 2px 25px rgba(14 52 54 / 80%);

  }
  .r-card > :nth-child(3) {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .r-card > :nth-child(4) {
    font-size: 1.5rem;
  }
  .r-card > :nth-child(5) {
    font-size: 0.7rem;
    width: 15rem;
  }
  
  .r-card:hover {
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(136, 160, 255, 0.46) 217.91%
    );
    box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
  }
  .r-card > img:hover{
    scale: 1.025;
  }